@font-face {
  font-family: "iconfont"; /* Project id  */
  src: url('iconfont.ttf?t=1660551747282') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-tiaozhuan:before {
  content: "\e641";
}

.icon-aixin:before {
  content: "\e605";
}

.icon-jurassic_user:before {
  content: "\e6a4";
}

.icon-xiangmu:before {
  content: "\e613";
}

